@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animasi dan custom CSS lainnya */
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: marquee var(--animation-marquee);
  display: inline-block;
  white-space: nowrap;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
